aside{
    background-color: #282a25f0;
    grid-area: aside;
}
aside p{
    font-family: 'Montserrat', sans-serif;}

aside h2{
    text-align: center;
}
aside h2,aside p {
    color: white;
    padding: 0 15px;

}
aside ul{ 
    list-style-image: url("../images/nuvem-icon.png");    
}
aside ul li{
    color:white;
}
body{
    display: grid;
    cursor: url(../images/kunai.png), default;
    grid-template-areas: 'navbar navbar navbar navbar'
                          'header header header aside'
                          'section section section aside'
                          'footer footer footer footer';    
grid-template-columns: 25vw 25vw 25vw 25vw;                                     
grid-template-rows: 8vh 40vh 60vh 10vh;
margin: 0;
}
body::-webkit-scrollbar{
    width: 0px; /* Remove a barra de rolagem*/
    background: transparent;  /* Opicional:só deixa o a barra de rolagem invisivel*/
}
footer{
    grid-area: footer;
}
header{
    background-image: url("../images/akatsuki.jpg");
    background-size: cover;
    grid-area: header;
}
nav{
    background-color: #373b31;
    display: flex;
    justify-content: space-around;
    font-family: 'Permanent Marker',  'cursive';
    grid-area: navbar;}
nav a{
    color:whitesmoke;
    text-decoration: none;

    }
nav a:hover{ 
    color: #bb2127;
    cursor: url(../images/kunai.png), default;
}

nav>img{

    width:45px;
}
section{
    grid-area: section;
}