aside{
    background-color: #282a25f0;
    grid-area: aside;
}
aside p{
    font-family: 'Montserrat', sans-serif;}

aside h2{
    text-align: center;
}
aside h2,aside p {
    color: white;
    padding: 0 15px;

}
aside ul{ 
    list-style-image: url("../images/nuvem-icon.png");    
}
aside ul li{
    color:white;
}
body{
    display: grid;
    cursor: url(../images/kunai.png), default;
    font-family: 'Permanent Marker';
    grid-template-areas: 'navbar navbar navbar navbar'
                          'header header header aside'
                          'section section section aside'
                          'footer footer footer aside';    
grid-template-columns: 25vw 25vw 25vw 25vw;                                     
grid-template-rows: 8vh 40vh 65vh 30vw;
margin: 0;
}
body::-webkit-scrollbar{
    width: 0px; /* Remove a barra de rolagem*/
    background: transparent;  /* Opicional:só deixa o a barra de rolagem invisivel*/
}
footer{ 
    background-color: #353732;
    text-align: center;
    grid-area: footer;
    margin: 0;
}

 footer a img{
     width: 40px;
    }
    footer div{
        display: flex;
        justify-content: center;
    }
header{
    background-image: url("../images/akatsuki.jpg");
    background-size: cover;
    grid-area: header;
}
h2{ 
font-family: 'Permanent Marker';
}

nav{
    align-items: center;
    background-color: #373b31;
    display: flex;
    font-family: 'Permanent Marker', 'cursive';
    grid-area: navbar;
    justify-content: space-around;
}
nav a{
    color:whitesmoke;
    text-decoration: none;

    }
nav a:hover{ 
    color: #bb2127;
    cursor: url(../images/kunai.png), default;
}

nav > img{

    width:45px;
}
 p{
     font-family: Arial, Helvetica, sans-serif
}
section{
    background-color: #353732;
    grid-area: section;
}
section div{
    display: flex;
    justify-content: center;
}
section h2{
    margin: 0;
    text-align: center;
}
section input:focus{
    background-color: lightgrey;
}
section input::placeholder{
    color: #bb2127
}